{% for contact in page_obj %}
    {# Each "contact" is a Contact model object. #}
    {{ contact.full_name|upper }}
    
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-secondary btn-sm" href="?page=1">&laquo; Primera</a>
            <a class="btn btn-secondary btn-sm" href="?page={{ page_obj.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-secondary btn-sm" href="?page={{ page_obj.next_page_number }}">siguiente</a>
            <a class="btn btn-secondary btn-sm" href="?page={{ page_obj.paginator.num_pages }}">Ultima &raquo;</a>
        {% endif %}
    </span>
</div>