
{% extends 'base/base.html' %}
{% load static %}

{% block contenido %}
<br><br><br><br>
<br><br><br>
<h1>Lista de Equipos</h1>
<br>
<!--<a href="{& url 'equipos:listar' &}">Volver</a> -->
<a href="{% url 'equipos:crear' %}">Crear</a>

<!--
<div class="row">
	{% for eq in equipos  %}
		<div class="card" style="width: 18rem;">
		  <img src="{{equipo.logo.url}}" class="card-img-top" alt="...">
		  <div class="card-body">
		    <h5 class="card-title">Card title</h5>
		    <p class="card-text">{{eq.nombre}}</p>		
		    <a href="#" class="btn btn-primary">Go somewhere</a>
		  </div>

        </div>
	{% endfor %}
</div>
-->
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Nombre</th>
		</tr>
	</thead>
	<tbody>

		{% for eq in equipos %}
		<tr>
			<th scope="row">{{eq.id}}</th>
			<td>{{eq.nombre}}</td>
			<td><a href="{% url 'equipos:actualizar' eq.id %}">editar</a></td>
		</tr>
		{% endfor %}
	</tbody>
	
</table>


{% endblock contenido %}


