{% extends 'base/base.html' %}

{% block contenido %}

  <h1>BIENVENIDO AL PRODE</h1>
  <h3>Hola, {{user_dict.nombre}} {{user_dict.apellido}} como estas?</h3>

  <p>Hola {{nombre}}</p>
  Equipos participantes:
  {%for e in equipos %}

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{e.nombre}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

  {% endfor %}

{% endblock contenido %}
